@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Montserrat:wght@700&display=swap');


/* Classes */

/* Erros */
.error{
  background-color: yellow;
  color: red;
  padding: 20px;
  margin-bottom: 20px;
}
.message{
  background-color: rgb(100, 209, 27);
  color: rgb(255, 255, 255);
  padding: 20px;
  margin-bottom: 20px;
}

/* Geral */

/* LogIn */
.logIn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.logIn ul{
  margin: 0;
  padding: 0;
}

.logIn form{
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.logIn form h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.logIn form label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

.logIn form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.logIn form input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.logIn input[type="submit"]:hover {
  background-color: #45a049;
}

/* Editar/Criar usuário */

.userEdit {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 0 auto;
  width: 300px;
}

.userEdit h2{
  text-transform: uppercase; 
}

.userEdit ul{
  margin: 0;
  padding: 0;
}

.userEdit .alert{
  padding: 20px;
  color:#0307fc
}

.userEdit legend {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.userEdit label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

.userEdit input,
 select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.userEdit input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.userEdit input[type="submit"]:hover {
  background-color: #45a049;
}

/* Cabeçario */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgba(189,44,49,1); 
    color: #fff; 
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 100px;
  }
  
  header h1 {
    margin-left: 20px;
    font-family: 'Ephesis', cursive;
    font-size: 56px;
    font-weight: bold;
    color: #fcd303;
  }
  header .logo{
    justify-content: left;
  }
  
  header .menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header .menu ul a {
  color: inherit;
  text-decoration: none;
}

header .menu li {
  margin-right: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 21px;
}

/* Main */


main {
    text-align: center;
    margin: 130px 20px 50px 20px;
    
  }

  
/* Rodapé */
footer {
  background-color: rgba(189,44,49,1); 
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 20px;
}




  input {
    /* width: 100%; */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; 
  }

  
  

  ul,
  ol {
    list-style: none; 
    margin-left: 20px; 
  }
  
.admin {
  width: 100% - 20px;
  min-height: 80vh;
  padding: 0px 10px 10px 10px;
  display: flex;
}
.admin .adminMenu{
  width: 20%;
  text-align: center;
  align-items: center;
}

.admin .adminMenu ul a{
  padding: 10px;
  color: inherit;
  text-decoration: none;
}
.admin .adminMenu ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.admin .adminMenu ul .linha{
  border-top: solid;
  padding: 0;
}

.admin .adminContent{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Define um estilo básico para a tabela */
table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  /* Define a cor de fundo das células de cabeçalho */
  th {
    background-color: #f2f2f2;
  }
  
  /* Define o estilo das células de cabeçalho */
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  /* Define a cor de fundo das linhas alternadas */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Define um estilo de hover para realçar as linhas quando o mouse passar por cima */
  tr:hover {
    background-color: #ddd;
  }
  
  *{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    margin: 0;
  }

  